.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardImg {
    width: 100%;
    height: auto;
}

.cardText {
    padding: 16px;
    text-align: center;
}

.cardText h3 {
    margin: 0;
}
