h1 {
    font-family: $fontBebasNeue;
    font-size: 4.4rem;
    padding-left: 2.3rem;
    margin-top: 1rem;
    text-align: center;
    color: $colorBlanco;
}

header {
    background-color: #660000;
    padding: 0.1rem;
    border: 0;
}