@media only screen and (min-width: 700px) {

    section {
        text-align: center;
    }

    h1 {
        padding-top: 3rem;
    }
}

@media only screen and (min-width: 992px) {
    .contenedorindex {
        display: flex;
        grid-template-columns: repeat(2, 1px);
        text-align: center;
    }
    .mapinfo {
        font-size: 1.5rem;
        color: $colorBlanco;
    }
    h2 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 480px) {
    .h2Rol {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 768px) {
    .contenedorrol {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .divcontent {
        padding: 15px;
    }

    .rolP {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.2rem;
    }

    .h2Rol {
        font-size: 2.2rem;
    }
}